.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: white;
  width: 100%;
  padding: 1px 5px;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.nav__logo {
  height: 40px;
  margin-left: 5px;
}

.nav__links {
  display: flex;
}

.nav__links > h3{
  padding: 10px;
  align-items: center;
  cursor: pointer;
  color: grey;
}

.nav__link:hover{
  background-color: #f64f69;
  color: white;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
}
